*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #35474d;
    overflow-x: hidden;
}


header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-image: 100%;
    background-image: url(images/goldentgate.jpeg);
    font-family: Arial, Helvetica, sans-serif;
}
/* Nav and Headerboc styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: black;
    color: #ADAD98;
    }

nav ul,
a {
    display:flex;
    gap: 60px;
    list-style: none;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ADAD98;
    transition: 0.5s;
}


nav a:hover {
    transform: scale(110%);
}

.logo {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
}

.logo:hover {
    letter-spacing: 5px;
}

.header-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    height: 100vh;
    justify-content: center;
}

.header-box h2 {
    transition: 1s;
    cursor: pointer;
    color: #ADAD98;
}

.header-box h2:hover {
    font-size: 50px;
}

.header-box p {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* HTML CSS and JS boxes */
.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 200px;
    color: #ADAD98;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.5s;
}

.skills p {
    padding: 15px;
    border: 2px solid transparent;
    transition: 0.5s;
}

.skills p:hover {
    border: 2px solid #fff;
}
/* Languages box */
.majorProject {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.majorProject h2 {
    margin-top: 50px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #ADAD98;
    transition: 1s;
    background: #35474d;
    padding: 10px;
    border: 3px solid #fff;
}

.majorProject h2:hover {
    letter-spacing: 15px;
}

.projectBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    justify-content: center;
    width: 600px;
    height: 100%;
    color: #ADAD98;
}
/* Project img styles*/
img {
    border-radius: 2px;
    height: 55px;
    width: 60px;
}
/* Projects section and contact boxes*/
.projectContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 80%;
    border: 3px solid #fff;
    border-radius: 25px;
    background-color: #35474d;
    transition: 0.5s;
    cursor: pointer;
}
.projectContent h3 {
    padding:50px 0 0 10px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.projectContent h2 {
    padding:50px 0 0 10px;
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;   
    
}
.projectContent p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ADAD98;
}


.projectBox p {
    text-align: center;
    width: 80%;
}

.projectBox button {
    height: 30px;
    width: 100px;
    background: transparent;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5;
    cursor: pointer;
}

.projectBox button:hover {
    color: #ADAD98;
    background: #35474d;
}
/*footer*/
footer {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: #ADAD98;
    align-items: center;
    padding: 40px 50px;
}

footer.logo {
    font-size: 20px;
    letter-spacing: 5px;
}

footer.logo:hover {
    transform: scale(110%);
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    border-left: 2px solid black;
}

footer ul a:hover {
    transform: scale(110%);
}

/* Media queries*/
@media (max-width: 500px) {
    .logo p {
        font-size: small;
    }
}

@media (max-width: 500px) {
    .projectContent{
        width: 40%;
        height: 40%;
    }
}

@media (max-width: 500px) {
    .projectContent p {
        font-size: 13px;
    }
}



